#dropdown-menu-1j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1j .nav .link,
#dropdown-menu-1j .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1j .navbar,
#dropdown-menu-1j .dropdown-menu {
  background: #8f99af;
}
#dropdown-menu-1j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1j .dropdown-menu a:hover,
#dropdown-menu-1j .dropdown-menu a:focus {
  background: #838ea6;
}
#dropdown-menu-1j .navbar-toggler {
  color: #ffffff;
}
#header4-2q H1 {
  font-size: 24px;
  text-align: center;
}
#header4-2q P {
  font-size: 36px;
  text-align: center;
}
#msg-box4-2r .lead P {
  text-align: left;
}
#msg-box4-2s .lead P {
  text-align: left;
}
#header4-w P {
  font-size: 24px;
  color: #000000;
  text-align: left;
}
#header4-w H1 {
  font-size: 46px;
}
#msg-box3-p .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-p .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-p .mbr-section-title {
  text-align: center;
  font-size: 36px;
}
#msg-box3-p .lead {
  text-align: left;
}
#msg-box4-q .lead P {
  text-align: left;
}
#msg-box4-q .mbr-section-title {
  font-size: 30px;
}
#msg-box4-r .lead P {
  text-align: left;
}
#msg-box4-r .mbr-section-title {
  font-size: 30px;
}
#msg-box4-s .lead P {
  text-align: left;
}
#msg-box4-s .mbr-section-title {
  font-size: 30px;
}
#msg-box3-o .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-o .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-o .lead P {
  font-size: 25px;
}
#content1-m P {
  text-align: left;
}
#testimonials1-t .mbr-section-title {
  font-size: 36px;
}
#dropdown-menu-1j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1j .nav .link,
#dropdown-menu-1j .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1j .navbar,
#dropdown-menu-1j .dropdown-menu {
  background: #8f99af;
}
#dropdown-menu-1j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1j .dropdown-menu a:hover,
#dropdown-menu-1j .dropdown-menu a:focus {
  background: #838ea6;
}
#dropdown-menu-1j .navbar-toggler {
  color: #ffffff;
}
#header1-19 P {
  text-align: left;
  color: #ffffff;
}
#header1-19 H1 {
  color: #ffffff;
}
#msg-box3-1b .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1b .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box4-1d .lead P {
  text-align: left;
}
#msg-box4-1d .lead {
  color: #000000;
}
#msg-box4-1d .mbr-section-title {
  color: #000000;
}
#msg-box4-1f .lead P {
  text-align: left;
}
#msg-box4-1e .lead P {
  text-align: left;
}
#msg-box3-1g .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1g .lead P {
  text-align: left;
}
#msg-box3-2w .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2w .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2w .lead P {
  text-align: left;
}
#dropdown-menu-1j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1j .nav .link,
#dropdown-menu-1j .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1j .navbar,
#dropdown-menu-1j .dropdown-menu {
  background: #8f99af;
}
#dropdown-menu-1j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1j .dropdown-menu a:hover,
#dropdown-menu-1j .dropdown-menu a:focus {
  background: #838ea6;
}
#dropdown-menu-1j .navbar-toggler {
  color: #ffffff;
}
#header1-18 P {
  color: #ffffff;
}
#header1-18 H1 {
  color: #ffffff;
}
#msg-box4-2b .lead {
  text-align: left;
}
#msg-box4-2b .lead P {
  font-size: 20px;
}
#msg-box4-2e .lead P {
  text-align: left;
}
#msg-box4-2d .lead P {
  text-align: left;
}
#msg-box4-2f .lead P {
  text-align: left;
}
#msg-box4-2c .lead P {
  text-align: left;
}
#msg-box4-2g .lead P {
  text-align: left;
}
#msg-box3-2l .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2l .mbr-header .mbr-header__subtext {
  text-align: center;
}
#dropdown-menu-1j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1j .nav .link,
#dropdown-menu-1j .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1j .navbar,
#dropdown-menu-1j .dropdown-menu {
  background: #8f99af;
}
#dropdown-menu-1j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1j .dropdown-menu a:hover,
#dropdown-menu-1j .dropdown-menu a:focus {
  background: #838ea6;
}
#dropdown-menu-1j .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-1l .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1l .nav .link,
#dropdown-menu-1l .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1l .navbar,
#dropdown-menu-1l .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1l .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1l .dropdown-menu a:hover,
#dropdown-menu-1l .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1l .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-1m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1m .nav .link,
#dropdown-menu-1m .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1m .navbar,
#dropdown-menu-1m .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1m .dropdown-menu a:hover,
#dropdown-menu-1m .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1m .navbar-toggler {
  color: #ffffff;
}
#header2-21 P {
  text-align: right;
  color: #ffffff;
}
#header2-21 H1 {
  color: #ffffff;
}
#dropdown-menu-1j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1j .nav .link,
#dropdown-menu-1j .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1j .navbar,
#dropdown-menu-1j .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1j .dropdown-menu a:hover,
#dropdown-menu-1j .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1j .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-1k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1k .nav .link,
#dropdown-menu-1k .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1k .navbar,
#dropdown-menu-1k .dropdown-menu {
  background: #8f99af;
}
#dropdown-menu-1k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1k .dropdown-menu a:hover,
#dropdown-menu-1k .dropdown-menu a:focus {
  background: #838ea6;
}
#dropdown-menu-1k .navbar-toggler {
  color: #ffffff;
}
#header2-1z H1 {
  color: #ffffff;
}
#header2-1z P {
  color: #ffffff;
}
#header1-1y H1 {
  color: #ffffff;
}
#msg-box4-10 .lead P {
  text-align: left;
}
#msg-box4-12 .lead P {
  text-align: left;
}
#msg-box4-14 .lead P {
  text-align: left;
}
#dropdown-menu-1p .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1p .nav .link,
#dropdown-menu-1p .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1p .navbar,
#dropdown-menu-1p .dropdown-menu {
  background: #8f99af;
}
#dropdown-menu-1p .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1p .dropdown-menu a:hover,
#dropdown-menu-1p .dropdown-menu a:focus {
  background: #838ea6;
}
#dropdown-menu-1p .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-1n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1n .nav .link,
#dropdown-menu-1n .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1n .navbar,
#dropdown-menu-1n .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1n .dropdown-menu a:hover,
#dropdown-menu-1n .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1n .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-1o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1o .nav .link,
#dropdown-menu-1o .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1o .navbar,
#dropdown-menu-1o .dropdown-menu {
  background: #8f99af;
}
#dropdown-menu-1o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1o .dropdown-menu a:hover,
#dropdown-menu-1o .dropdown-menu a:focus {
  background: #838ea6;
}
#dropdown-menu-1o .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-35 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-35 .nav .link,
#dropdown-menu-35 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-35 .navbar,
#dropdown-menu-35 .dropdown-menu {
  background: #8f99af;
}
#dropdown-menu-35 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-35 .dropdown-menu a:hover,
#dropdown-menu-35 .dropdown-menu a:focus {
  background: #838ea6;
}
#dropdown-menu-35 .navbar-toggler {
  color: #ffffff;
}
#msg-box3-36 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-36 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-36 .lead {
  color: #8f99af;
}
#msg-box3-36 .lead P {
  text-align: center;
  font-size: 22px;
}
#dropdown-menu-39 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-39 .nav .link,
#dropdown-menu-39 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-39 .navbar,
#dropdown-menu-39 .dropdown-menu {
  background: #8f99af;
}
#dropdown-menu-39 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-39 .dropdown-menu a:hover,
#dropdown-menu-39 .dropdown-menu a:focus {
  background: #838ea6;
}
#dropdown-menu-39 .navbar-toggler {
  color: #ffffff;
}
#msg-box3-3a .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3a .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-3a .lead {
  color: #8f99af;
}
#msg-box3-3a .lead P {
  text-align: center;
  font-size: 22px;
}
#dropdown-menu-1j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1j .nav .link,
#dropdown-menu-1j .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1j .navbar,
#dropdown-menu-1j .dropdown-menu {
  background: #8f99af;
}
#dropdown-menu-1j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1j .dropdown-menu a:hover,
#dropdown-menu-1j .dropdown-menu a:focus {
  background: #838ea6;
}
#dropdown-menu-1j .navbar-toggler {
  color: #ffffff;
}
#header1-9 H1 {
  font-size: 46px;
}
#header1-9 P {
  font-size: 30px;
}
#msg-box4-c .lead P {
  text-align: left;
}
#msg-box4-c .mbr-section-title {
  font-size: 30px;
}
#msg-box4-2n .lead P {
  text-align: right;
}
#msg-box4-2n .lead {
  text-align: left;
}
#msg-box4-2n .mbr-section-title {
  font-size: 30px;
}
#msg-box4-y .lead P {
  text-align: left;
}
#msg-box4-y .mbr-section-title {
  font-size: 30px;
}
#header1-3e P {
  color: #ffffff;
}
#header1-3e H1 {
  color: #ffffff;
}
#msg-box4-3g .lead {
  text-align: left;
}
#msg-box4-3g .lead P {
  font-size: 20px;
}
#msg-box4-3h .lead P {
  text-align: left;
}
#msg-box4-3i .lead P {
  text-align: left;
}
#msg-box4-3j .lead P {
  text-align: left;
}
#msg-box4-3k .lead P {
  text-align: left;
}
#msg-box4-3l .lead P {
  text-align: left;
}
#msg-box3-3n .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3n .mbr-header .mbr-header__subtext {
  text-align: center;
}
#dropdown-menu-3p .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3p .nav .link,
#dropdown-menu-3p .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-3p .navbar,
#dropdown-menu-3p .dropdown-menu {
  background: #8f99af;
}
#dropdown-menu-3p .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3p .dropdown-menu a:hover,
#dropdown-menu-3p .dropdown-menu a:focus {
  background: #838ea6;
}
#dropdown-menu-3p .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-1p .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1p .nav .link,
#dropdown-menu-1p .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1p .navbar,
#dropdown-menu-1p .dropdown-menu {
  background: #8f99af;
}
#dropdown-menu-1p .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1p .dropdown-menu a:hover,
#dropdown-menu-1p .dropdown-menu a:focus {
  background: #838ea6;
}
#dropdown-menu-1p .navbar-toggler {
  color: #ffffff;
}
#msg-box3-1q .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1q .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1q .lead {
  color: #8f99af;
}
#msg-box3-1q .lead P {
  text-align: center;
  font-size: 22px;
}
